@model EmployeeHistoryApplication.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMBG" class="control-label"></label>
                <input asp-for="EMBG" class="form-control" />
                <span asp-validation-for="EMBG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div>
    @Html.Partial("_JobHistoryList2", Model.jobs)
</div>
<form asp-controller="JobHistories" asp-action="Create" asp-route-id="@Model.Id" method="get">
    <button type="submit" value="Add new job history" class="btn btn-primary">Add new job history</button>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-controller="Employees" asp-action="Details" asp-route-id="@Model.Id">View employee details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
