@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Hello...</h5>
    <h1 class="display-1">Welcome</h1>
    <h3 class="display-4">This is an employee history tracking app</h3>
</div>
