@using EmployeeHistoryApplication.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<HomeController> _localizer;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">@_localizer["HelloString"]</h5>
    <h3 class="display-4">@_localizer["DescriptionString"]</h3>
</div>
