@model EmployeeHistoryApplication.Models.JobHistory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobHistory</h4>
<p>@ViewBag.EmployeeName</p>
<p>@ViewBag.EmployeeSurname</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="EmployeeId" class="form-control" value="@ViewBag.EmployeeId" />
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPostition" class="control-label"></label>
                <input asp-for="JobPostition" class="form-control" />
                <span asp-validation-for="JobPostition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateFrom" class="control-label"></label>
                <input type="text" asp-for="dateFrom" class="form-control datepicker" />
                <span asp-validation-for="dateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTo" class="control-label"></label>
                <input type="text" asp-for="dateTo" class="form-control datepicker" placeholder="Blank means Today's date" />
                <span asp-validation-for="dateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@ViewBag.EmployeeId">Back to edit employee</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',   // Set the date format
                autoclose: true,        // Close the calendar after date selection
                todayHighlight: true,   // Highlight the current date
            });
        });
    </script>
}
