@model IEnumerable<EmployeeHistoryApplication.Models.JobHistory>

<h4>Job History</h4>
<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Job Position</th>
            <th>Date From</th>
            <th>Date To</th>
        </tr>
    </thead>
    <tbody>
        @{
            var sortedModel = Model.ToList();
            sortedModel.Sort(new JobHistoryDateComparerDescending());
        }
        @foreach (var job in sortedModel) //iteracija niz site i prikazuvanje vo tabela
        {
            <tr>
                <td>@job.CompanyName</td>
                <td>@job.JobPostition</td>
                <td>@job.dateFrom.ToShortDateString()</td>
                <td>@job.dateTo?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
