@model IEnumerable<EmployeeHistoryApplication.Models.JobHistory>

<h4>Job History</h4>
<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Job Position</th>
            <th>Date From</th>
            <th>Date To</th>
        </tr>
    </thead>
    <tbody>
        @{
            var sortedModel = Model;

            var sortOrder = ViewData["SortOrder"]?.ToString();

            switch (sortOrder)
            {
                case "dateFrom_desc":
                    sortedModel = sortedModel.OrderByDescending(j => j.dateFrom).ToList();
                    break;
                case "dateTo_desc":
                    sortedModel = sortedModel.OrderByDescending(j => j.dateTo).ToList();
                    break;
                case "dateFrom":
                    sortedModel = sortedModel.OrderBy(j => j.dateFrom).ToList();
                    break;
                case "dateTo":
                    sortedModel = sortedModel.OrderBy(j => j.dateTo).ToList();
                    break;
                default:
                    sortedModel = sortedModel.OrderByDescending(j => j.dateFrom).ToList();
                    break;
            }

        }

        @foreach (var job in sortedModel) // Loop through the sorted list
        {
            <tr>
                <td>@job.CompanyName</td>
                <td>@job.JobPostition</td>
                <td>@job.dateFrom.ToShortDateString()</td>
                <td>
                    @if (job.dateTo == null)
                    {
                        <span style="font-weight: bold; font-style: italic; color: green;"> - at moment</span>
                    }
                    else
                    {
                        @job.dateTo?.ToShortDateString()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
